body {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    padding-top: 64px;
}

.graphContainers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.card-graph {
    width: 33%;
}

@media screen and (max-width: 720px) {
    .graphContainers {
        display: block;
    }

    .card-graph {
        width: 100%;
    }
}