<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <!--css bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!--bundle bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <!--separate bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/style/login.css"
          th:href="@{/style/login.css}">

    <title>InventoryManagement</title>
</head>
<body>

<nav class="navbar navbar-dark custom-bg-dark-transparent">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#"><h2 class="text-light" style="font-size: 20px">Abarrotes viviana</h2>
            </a>
        </li>
    </ul>
    <a th:href="@{'/index'}" align="right"><h2 class="text-muted" style="font-size: 18px">Home</h2></a>
</nav>

<div class="banner content">
    <div class="banner-video">
        <video autoplay muted loop>
            <source src="https://cdn.wizeline.com/uploads/2019/03/Final-Version-For-Web-Page-Reduced-File.mp4"
                    type="video/mp4">
        </video>
    </div>
</div>

<div class="loginbox">
    <img src="/static/img/admin.png"
         th:src="@{/img/admin.png}" th:alt="logoUser" class="avatar">

    <h1>Administrador</h1>

    <form th:action="@{'/validate/admin'}" th:object="${loginUser}" method="post">
        <label>Nombre de Usuario</label>
        <input th:field="*{userName}" type="text" placeholder="nombre de usuario" required="required">
        <br>
        <label>Contraseña</label>
        <input th:field="*{password}" type="password" placeholder="contraseña" required="required">
        <br>
        <button type="submit">Iniciar secion</button>
    </form>
    <form th:action="@{'/register/admin'}" method="get">
        <button type="submit">Registrar admin</button>
    </form>
</div>

</body>
</html>