<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <!--css bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!--bundle bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <!--separate bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/style/management.css"
        th:href="@{/style/management.css}">

    <title>InventoryManagement</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="nav-link" href="#"><h2 class="text-dark" style="font-size: 20px">Abarrotes viviana</h2></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{'/management/stock'}" align="right"><h2 class="nav-link text-lg-right" style="font-size: 18px">Stock Viewer</h2></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/management/categories'}" align="right"><h2 class="nav-link text-lg-right" style="font-size: 18px">Categorias</h2></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/management/suppliers'}" align="right"><h2 class="nav-link text-lg-right" style="font-size: 18px">Proveedores</h2></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/profile/'}+${administrator.getId()}" align="right"><h2 class="nav-link text-lg-right" style="font-size: 18px">Perfil</h2></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{'/index'}" align="right"><h2 class="nav-link text-muted text-lg-right" style="font-size: 18px">SignOut</h2></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- form struct -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
           aria-controls="profile" aria-selected="true">Administracion</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="product-tab" data-toggle="tab" href="#addProduct" role="tab"
           aria-controls="addProduct" aria-selected="false">Agregar producto</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="category-tab" data-toggle="tab" href="#addCategory" role="tab"
           aria-controls="addCategory" aria-selected="false">Agregar categoria</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="supplier-tab" data-toggle="tab" href="#addSupplier" role="tab"
           aria-controls="addSupplier" aria-selected="false">Agregar proveedor</a>
    </li>
</ul>

<!--content form-->
<div class="tab-content" id="myTabContent">

    <!--profile-->
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab"
         th:object="${administrator}">

            <!--        grafica ToDo-->
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

            <figure class="highcharts-figure">
                <div id="containerJSGraphStock"></div>
                <p class="highcharts-description">
                </p>
            </figure>

        <figure class="highcharts-figure">
            <div id="containerGraphPercentByProduct"></div>
            <p class="highcharts-description">
            </p>
        </figure>

        <figure class="highcharts-figure">
            <div id="containerGraphPercentByCategory"></div>
            <p class="highcharts-description">
            </p>
        </figure>

        <figure class="highcharts-figure">
            <div id="containerGraphPercentBySupplier"></div>
            <p class="highcharts-description">
            </p>
        </figure>

        <div class="graphContainers">
            <div class="card-graph">
                <figure class="highcharts-figure">
                    <div id="containerGraphQuantityProducts"></div>
                    <p class="highcharts-description">
                    </p>
                </figure>
            </div>
            <div class="card-graph">
                <figure class="highcharts-figure">
                    <div id="containerGraphQuantityCategories"></div>
                    <p class="highcharts-description">
                    </p>
                </figure>
            </div>
            <div class="card-graph">
                <figure class="highcharts-figure">
                    <div id="containerGraphQuantitySuppliers"></div>
                    <p class="highcharts-description">
                    </p>
                </figure>
            </div>
        </div>

        <script th:inline="javascript">

            $(function () {

                Highcharts.chart('containerJSGraphStock', {
                    title: {
                        text: 'Stock'
                    },
                    xAxis: {
                        categories: [[${dataGraphProducts.keySet()}]]
                    },
                    yAxis: {
                        allowDecimals: true,
                        title: {
                            text: 'Values'
                        },
                        labels: {
                            formatter: function () {
                                return this.value;
                            }
                        }
                    },
                    labels: {
                        items: [{
                            html: 'Total productos',
                            style: {
                                left: '50px',
                                top: '18px',
                                color: ( // theme
                                    Highcharts.defaultOptions.title.style &&
                                    Highcharts.defaultOptions.title.style.color
                                ) || 'black'
                            }
                        }]
                    },
                    series: [{
                        type: 'column',
                        name: 'productos',
                        data: [[${dataGraphProducts.values()}]]
                    }, {
                        type: 'spline',
                        name: 'Porcentaje',
                        data: [[${percentsGraph.values()}]],
                        marker: {
                            lineWidth: 2,
                            lineColor: Highcharts.getOptions().colors[3],
                            fillColor: 'white'
                        },
                        tooltip: {
                            pointFormat: '{series.name} <b>{point.y:,.2f}</b>%'
                        }
                    }, {
                        type: 'pie',
                        name: 'Total Stock',
                        data: [{
                            name: 'productos',
                            y: [[${totalStock}]],
                            color: Highcharts.getOptions().colors[2] // Product's color
                        }],
                        center: [100, 80],
                        size: 100,
                        showInLegend: false,
                        dataLabels: {
                            enabled: false
                        }
                    }]
                });

            })

            $(function drawBarChartByProduct() {
                Highcharts.chart('containerGraphPercentByProduct', {
                    chart: {
                        type: 'area'
                    },
                    accessibility: {
                        description: 'Estos son los porcentajes de cada producto en stock'
                    },
                    title: {
                        text: 'Porcentajes de productos'
                    },
                    subtitle: {
                        text: 'Estos son los porcentajes de cada producto en stock'
                    },
                    xAxis: {
                        categories: [[${percentsGraph.keySet()}]]
                    },
                    yAxis: {
                        allowDecimals: true,
                        title: {
                            text: 'Porcentajes'
                        },
                        labels: {
                            formatter: function () {
                                return this.value;
                            }
                        }
                    },
                    tooltip: {
                        pointFormat: '{series.name} <b>{point.y:,.2f}</b>%'
                    },
                    series: [{
                        name: 'Productos',
                        data: [[${percentsGraph.values()}]],
                        color: Highcharts.getOptions().colors[7]
                    }]
                });
            })

            $(function drawBarChartByCategory() {
                Highcharts.chart('containerGraphPercentByCategory', {
                    chart: {
                        type: 'area'
                    },
                    accessibility: {
                        description: 'Estos son los porcentajes de cada categoria en stock'
                    },
                    title: {
                        text: 'Porcentajes de categorias'
                    },
                    subtitle: {
                        text: 'Estos son los porcentajes de cada categoria en stock'
                    },
                    xAxis: {
                        categories: [[${percentsByCategory.keySet()}]]
                    },
                    yAxis: {
                        allowDecimals: true,
                        title: {
                            text: 'Porcentajes'
                        },
                        labels: {
                            formatter: function () {
                                return this.value;
                            }
                        }
                    },
                    tooltip: {
                        pointFormat: '{series.name} <b>{point.y:,.2f}</b>%'
                    },
                    series: [{
                        name: 'categorias',
                        data: [[${percentsByCategory.values()}]],
                        color: Highcharts.getOptions().colors[2]
                    }]
                });
            })

            $(function drawBarChartBySupplier() {
                Highcharts.chart('containerGraphPercentBySupplier', {
                    chart: {
                        type: 'area'
                    },
                    accessibility: {
                        description: 'Estos son los porcentajes de cada proveedor'
                    },
                    title: {
                        text: 'Porcentajes de proveedores'
                    },
                    subtitle: {
                        text: 'Estos son los porcentajes de cada proveedor'
                    },
                    xAxis: {
                        categories: [[${percentsBySupplier.keySet()}]]
                    },
                    yAxis: {
                        allowDecimals: true,
                        title: {
                            text: 'Porcentajes'
                        },
                        labels: {
                            formatter: function () {
                                return this.value;
                            }
                        }
                    },
                    tooltip: {
                        pointFormat: '{series.name} <b>{point.y:,.2f}</b>%'
                    },
                    series: [{
                        name: 'Proveedores',
                        data: [[${percentsBySupplier.values()}]],
                        color: Highcharts.getOptions().colors[1]
                    }]
                });
            })

            $(function drawPieCharProducts() {
                Highcharts.chart('containerGraphQuantityProducts', {
                    title: {
                        text: 'Productos'
                    },
                    series: [{
                        type: 'pie',
                        name: 'Cantidad de productos',
                        data: [{
                            name: 'productos',
                            y: [[${cantidadProductos}]],
                            color: Highcharts.getOptions().colors[7]
                        }]
                    }]
                });
            })

            $(function drawPieCharProducts() {
                Highcharts.chart('containerGraphQuantityCategories', {
                    title: {
                        text: 'Categorias'
                    },
                    series: [{
                        type: 'pie',
                        name: 'Cantidad de categorias',
                        data: [{
                            name: 'categorias',
                            y: [[${cantidadCategorias}]],
                            color: Highcharts.getOptions().colors[2]
                        }]
                    }]
                });
            })

            $(function drawPieCharProducts() {
                Highcharts.chart('containerGraphQuantitySuppliers', {
                    title: {
                        text: 'Proveedores'
                    },
                    series: [{
                        type: 'pie',
                        name: 'Cantidad de proveedores',
                        data: [{
                            name: 'proveedores',
                            y: [[${cantidadProveedores}]],
                            color: Highcharts.getOptions().colors[1]
                        }]
                    }]
                });
            })

        </script>

    </div>

    <!--product form-->
    <div class="tab-pane fade" id="addProduct" role="tabpanel" aria-labelledby="product-tab">
        <form th:action="@{'/auth/save/product'}" th:object="${product}" method="post">
            <!--id-->
            <div class="form-group">
                <label for="idProduct">ID Producto</label>
                <input th:field="*{idProduct}" type="number" class="form-control" id="idProduct"
                       required="required" disabled="disabled">
            </div>
            <!--category-->
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <label class="custom-select" for="inputGroupSelect01">Categoria</label>
                </div>
                <select th:field="*{category}" class="custom-select" id="inputGroupSelect01" required="required">
                    <option selected value=""></option>
                    <div th:each="categoryItem : ${categories}">
                        <option th:value="${categoryItem.idCategory}"
                                th:text="${categoryItem.getNameCategory()}"></option>
                    </div>
                </select>
            </div>

            <!--name-->
            <div class="form-group">
                <label for="name">Nombre del producto</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" required="required"
                       placeholder="Ingrese el nombre de su producto">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>

            <!--price-->
            <div class="form-group">
                <label for="price">Precio</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input th:field="*{price}" type="text" class="form-control"
                           aria-label="Amount (to the nearest dollar)" id="price" required="required">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
            </div>

            <!--amount-->
            <div class="form-group">
                <label for="amount">Existencia</label>
                <input th:field="*{amount}" type="number" id="amount" class="form-control" required="required">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></small>
            </div>

            <!--supplier-->
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <label class="custom-select" for="inputGroupSelect02">Proveedor</label>
                </div>
                <select th:field="*{supplier}" class="custom-select" id="inputGroupSelect02" required="required">
                    <option selected value=""></option>
                    <div th:each="supplierItem : ${suppliers}">
                        <option th:value="${supplierItem.idSupplier}"
                                th:text="${supplierItem.getNameSupplier()}"></option>
                    </div>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Agregar producto</button>
        </form>
    </div>

    <!--category form-->
    <div class="tab-pane fade" id="addCategory" role="tabpanel" aria-labelledby="category-tab">
        <form th:action="@{'/auth/save/category'}" th:object="${category}" method="post">
            <!--idCategory-->
            <div class="form-group">
                <label for="idCategory">ID Categoria</label>
                <input th:field="*{idCategory}" type="number" class="form-control" id="idCategory" required="required"
                       disabled="disabled">
            </div>

            <!--nameCategory-->
            <div class="form-group">
                <label for="nameCategory">Nombre de Categoria</label>
                <input th:field="*{nameCategory}" type="text" class="form-control" id="nameCategory" required="required"
                       placeholder="Ingresa nombre de categoria">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nameCategory')}" th:errors="*{nameCategory}"></small>
            </div>

            <button class="btn btn-success">Agregar categoria</button>
        </form>
    </div>

    <!--supplier form-->
    <div class="tab-pane fade" id="addSupplier" role="tabpanel" aria-labelledby="supplier-tab">
        <form th:action="@{'/auth/save/supplier'}" th:object="${supplier}" method="post">
            <!--idSupplier-->
            <div class="form-group">
                <label for="idSupplier">ID Proveedor</label>
                <input th:field="*{idSupplier}" type="number" class="form-control" id="idSupplier" required="required"
                       disabled="disabled">
            </div>

            <!--name supplier-->
            <div class="form-group">
                <label for="nameSupplier">Nombre del proveedor</label>
                <input th:field="*{nameSupplier}" type="text" class="form-control" id="nameSupplier" required="required"
                       placeholder="ingresa nombre del proveedor">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nameSupplier')}" th:errors="*{nameSupplier}"></small>
            </div>

            <button class="btn btn-success">Agregar proveedor</button>
        </form>
    </div>
</div>

</body>
</html>