<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <!--css bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!--bundle bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <!--separate bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
    <title>InventoryManagement</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#"><h2 class="text-light bg-dark" style="font-size: 20px">Abarrotes viviana</h2>
            </a>
        </li>
    </ul>
    <a th:href="@{'/index'}" align="right"><h2 class="text-muted" style="font-size: 18px">Regresar</h2></a>
</nav>

<form th:action="@{'/validation/register'}" th:object="${administrator}" method="post">
    <div class="form-group">
        <label th:for="id">id</label>
        <input th:field="*{id}" class="form-control" type="text" required="required" disabled="disabled">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
    </div>
    <div class="form-group">
        <label th:for="userName">Nombre de usuario</label>
        <input th:field="*{userName}" class="form-control" type="text" placeholder="Nombre de usuario"
               required="required">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></small>
    </div>
    <div class="form-group">
        <label th:for="name">Nombre</label>
        <input th:field="*{name}" class="form-control" type="text" placeholder="Nombre" required="required">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
    </div>
    <div class="form-group">
        <label th:for="lastName">Apellido paterno</label>
        <input th:field="*{lastName}" class="form-control" type="text" placeholder="Apellido paterno"
               required="required">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
    </div>
    <div class="form-group">
        <label th:for="motherLastName">Apellido materno</label>
        <input th:field="*{motherLastName}" class="form-control" type="text" placeholder="Apellido materno"
               required="required">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('motherLastName')}" th:errors="*{motherLastName}"></small>
    </div>
    <div class="form-group">
        <label th:for="eMail">Correo</label>
        <input th:field="*{EMail}" class="form-control" type="email" placeholder="example@gmail.com"
               required="required">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('EMail')}" th:errors="*{EMail}"></small>
    </div>
    <div class="form-group">
        <label th:for="password">Contraseña</label>
        <input th:field="*{password}" class="form-control" type="password" placeholder="" required="required">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
    </div>
    <div class="form-group">
        <label th:for="cellPhone">Numero telefonico</label>
        <input th:field="*{cellPhone}" class="form-control" type="text" placeholder="" required="required">
        <small class="form-text text-danger" th:if="${#fields.hasErrors('cellPhone')}" th:errors="*{cellPhone}"></small>
    </div>
    <button type="submit" class="btn btn-primary">REGISTRAR</button>
</form>

</body>
</html>